body {
  text-align: center;
  display: block;
  margin: 0 auto;
}

header,
section,
footer {
  padding: 20px;
}

header {
  padding-top: 10px;
  padding-bottom: 15px;
  background: #73ccec;
  margin-top: 10px;
}
section {
  background: #50c4ed;
  padding: 15px;
}
footer {
  background: #2caedd;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h1,
h2,
footer,
.additional-data,
.temp-today,
.mm-today,
.mmTemp-today,
.next-day,
.next-mm-all,
.next-mmTemp-all {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  text-decoration: underline;
}

h1 {
  padding-bottom: 5px;
}

h2 {
  padding-bottom: 15px;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 15px;
}

li {
  list-style-type: none;
  font-size: 15px;
  line-height: 0.5cm;
  font-style: italic;
  text-align: left;
}

.symbol-now {
  font-size: 55px;
  padding: 0 10px 0;
  min-width: fit-content;
}

.additional-data,
.temp-today {
  padding: 10px;
  min-width: fit-content;
}
.temp-today {
  text-align: right;
}

.temp-now {
  font-size: 30px;
}

.mm-today,
.mmTemp-today {
  font-size: 15px;
  font-style: italic;
  line-height: 0.5cm;
}

#weekday-next {
  font-weight: 600;
}

.description {
  text-transform: capitalize;
  padding-bottom: 10px;
}

.description-next {
  font-weight: 450;
}

#description {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.city {
  font-size: 30px;
}

.date {
  font-size: 17px;
}

.current-location {
  font-weight: 700;
  font-size: 10px;
  text-shadow: black;
  border-radius: 10%;
  color: #0091f2;
  background-color: #ffb900;
  margin-top: 15px;
}

.next-day,
.next-mm-all,
.next-mmTemp-all {
  line-height: 0.5cm;
  min-width: fit-content;
}

.next-mm-all,
.next-mmTemp-all {
  font-size: 15px;
  font-style: italic;
}

.next-mm-all {
  padding-bottom: 0;
}

.next-mmTemp-all {
  padding-top: 0;
}

.searchHeader {
  margin-right: 155px;
  color: #fff;
  font-style: italic;
}

.searchBar {
  background: #fff;
}

.searchButton {
  font-weight: 500;
  text-shadow: black;
  border-radius: 10%;
  color: black;
  background-color: #fce850;
}

.conversion-line {
  font-weight: 600;
  font-size: 12px;
  padding-top: 5px;
  font-style: italic;
  color: #fce850;
  text-align: right;
}

.conversion-button {
  font-weight: 700;
  font-size: 10px;
  text-shadow: black;
  border-radius: 10%;
  color: #0091f2;
  background-color: #ffb900;
  margin-top: 5px;
}

.credit {
  font-size: 10px;
  text-align: left;
  color: #fff;
}

.git-link {
  text-decoration-line: none;
  color: #fce850;
}

.git-link:hover {
  color: #ffb900;
}
